
	<!--Inicio footer-->
	
  <!-- seccion de cierre-->
 
<section class="page-section" id="contact">
   
</section>
<footer class="bg-light">
  
    <div class="footer" style="text-align: center;margin-left:0px; background-color:rgb(19, 6, 194);overflow:auto;clear:both">
      <h3 style="letter-spacing: 0.6px;color:#fff">UNICAH Campus Jesús Sacramentado</h3> <br/>
      <a href="https://instagram.com/unicah_hn/"> <img src="img/instagram.jpg"> </a>
      <a href="https://twitter.com/UNICAH_HN"> <img src="img/twitter.jpg"> </a>
      <a href="https://www.youtube.com/channel/UCuF6E9Gy5uygvlkBlo447Ow"> <img src="img/youtube.png"></a>
      <a href="https://plus.google.com/u/0/"> <img src="img/google.jpg"> </a>
      <a href="https://www.facebook.com/UNICAHONDURAS"> <img src="img/facebook.jpg"></a> <br/> <br/>
    </div>
    <div class="rights">
      <p style="text-align: center;letter-spacing: 0.6px; font-size: 0.8em;color:Black !important; padding-bottom:1em">Derechos Reservados © 2020</p>
    </div>
 
</footer>