
<section id="section1">
  <!-- <h1 class="content">Universidad Católica</h1> </br>
  <h1 class="content">"Nuestra Señora Reina de la Paz"</h1> -->

  <div class="content" style="top:45%">
    <h1 >Matrícula </h1>
    <h2 style="font-size:1.5em; color:#fff;">I Periodo 2020</h2> </br>
    <a href="#"  target="_blank" style="text-shadow: 0 0 0;color:#fff;text-decoration:underline">Leer más</a></br></br>
    <h2 style="font-size:1.5em; color:#fff;">Inicio de Clases: 20 de Enero 2020</h2> </br>

    <!-- <iframe width="100%" height="990" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

    <!-- <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/M_9LCBIgkYM?controls=0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

    <!- <video autoplay="autoplay" loop="loop" controls="controls" width="100%" height="990">
    <source src="https://www.youtube-nocookie.com/embed/M_9LCBIgkYM?controls=0?rel=0" type="video/mp4"></video>
 -->



  </div>

</section>
