<main><br><br><br> 
<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3 style="font-size: 27px;font-weight: bold;letter-spacing: -1px;text-shadow: 0 2px 6px rgba(0,0,0,0.58); text-align: center; padding:1em 0em 0.5em 0em;">Iniciar Sesión</h3>
        </div>
        <img src="/img/logo1.png" alt="Logo Fazt" class="card-img-top mx-auto m-6 rounded-circle w-50">
        <div class="card-body">
          <form action="/iniciarSesion" method="POST">
            <div class="form-group">
              <input type="text" name="correo" placeholder="Correo del usuario" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="contrasena" placeholder="Contraseña" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              Ingresar
            </button>
          </form>
          <div class="container p-4"><a class="nav-link js-scroll-trigger" href="/reestablecer">¿Has olvidado tu Contraseña?</a></div>

        </div>
      </div>
    </div>
  </div>
</div>
</main> 