{{!-- <main><br><br><br> 
<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Iniciar Sesión</h3>
        </div>
        <img src="/img/logo1.png" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
        <div class="card-body">
          <form action="/iniciarSesion" method="POST">
            <div class="form-group">
              <input type="text" name="correo" placeholder="Correo del usuario" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="password" name="contrasena" placeholder="Contraseña" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">
              Ingresar
            </button>
          </form>
          <div class="container p-4"><a class="nav-link js-scroll-trigger" href="/reestablecer">¿Has olvidado tu Contraseña?</a></div>

        </div>
      </div>
    </div>
  </div>
</div>
</main> --}}

<form action="/iniciarSesion" method="POST">
<input type="hidden" name="tk" value="709007ada35961c007026d7da1943713">
<p style="font-size: 27px;font-weight: bold;letter-spacing: -1px;text-shadow: 0 2px 6px rgba(0,0,0,0.58); text-align: center; padding:1em 0em 0.5em 0em;">Iniciar Sesión        </p>
<hr class="loginSeparacion" style="display: inline-block;width: 100%;margin: 1em auto;">
<ul style="list-style:  none;padding-left:0em; margin-bottom:50px">
  <li class="">
    <div style="text-align:center">
      <input type="text" id="user" name="user" maxlength="40" ;="" placeholder="Cuenta"></div>
  </li>
  <li class="">
    <div style="text-align:center">
      <input id="password" name="password" maxlength="40" ;="" placeholder="Contraseña" type="text">
    </div>
  </li>
  <li>
    <div style="text-align:center;">
      <input type="submit" value="Ingresar" class="btn-infoLogin" ;="" style="padding: 0px; background-image: linear-gradient(rgb(10, 110, 189), rgb(40, 70, 107)); box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 2px 0px; border: 1px solid rgb(40, 70, 107); color: rgb(255, 255, 255); text-shadow: rgb(0, 0, 0) 0px 1px 1px;">
    </div>
  </li>
  <!-- <li><a href=""><span>¿Olvido su contraseña?</span></a></li>-->
  <li>
    <a href="https://gmail.com/">
      <span>Correo Electrónico</span>
    </a>
  </li>
</ul>
</form>