<main><br><br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" action="/crearEquipo" method="post">
                    <fieldset>
                        <legend class="text-center header" style="font-size: 27px;font-weight: bold;letter-spacing: -1px;text-shadow: 0 2px 6px rgba(0,0,0,0.58); text-align: center; padding:1em 0em 0.5em 0em;">Crear Nuevo Equipo</legend>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-12">
                              <input type="text" name="nombre" placeholder="Nombre del Equipo" class="form-control">                               
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-12">
                                <select class="form-control" name="tipo">
                                    <option value="" disabled selected>Selecciona un tipo de cuenta</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-12">
                                {{!-- Implementar un WYSIWYG --}}
                                <label>Descripción</label>
                                <input type="hidden" name="observacion" id="x" >
                                <trix-editor input="x" class="form-control"></trix-editor>
                            </div>
                        </div>              
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <br><br> 
                                <button type="submit" class="btn btn-primary btn-lg">Crear Equipo</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</main>
